@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');


:root {
   --dark-blue: #1C608D;
   --sky-blue: #2777B2;
   --linear: transparent linear-gradient(128deg, #1C608D 0%, #3192D9 100%) 0% 0% no-repeat padding-box;
   --white: #fff;
   --light: #DBDBDB;
   --ultra-lite: #F9F9F9;
   --dark: #191919;
   --black: #000000;
   --gray: #A4A4A4;
   --dark-sky-blue: #1C608D;
   --gutter-x: 8rem;
}

* {
   font-family: 'Cairo', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   text-transform: capitalize;
}

html {
   overflow-x: hidden;
   scroll-behavior: smooth;
}

body {
   direction: rtl;
   padding: 0 !important;
   font-family: 'Cairo', sans-serif;
   overflow-x: hidden;
   background-color: #ffffff !important;
}

#loading {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 999999;
   background-color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
}


/* .loader {
   position: relative;
   width: 80px;
   letter-spacing: 2px;
   display: inline-block;
   box-sizing: border-box;
   animation: rotating 0.5s ease-out infinite;
} */

@keyframes rotating {
   0% {
      transform: rotate(0);
   }

   50% {
      transform: rotate(180deg);
   }

   100% {
      transform: rotate(360deg);
   }
}


html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   vertical-align: middle;
   background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

a {
   text-decoration: none;
}

iframe {
   width: 100%;
   border: 0;
   height: 100%;
}

img {
   width: 100%;
}

i,
svg {
   line-height: 0;
}

.btn,
.btn:focus {
   outline: none;
   box-shadow: none;
}

::-webkit-scrollbar {
   height: .5rem;
   width: 0.4rem;
}

::-webkit-scrollbar-track {
   background-color: transparent;
}

::-webkit-scrollbar-thumb {
   background-color: var(--dark-sky-blue);
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
}

.Stars {
   --percent: calc(var(--rating) / 5 * 100%);
   font-size: 21px;
}

.Stars::before {
   content: "★★★★★";
   background: linear-gradient(-90deg, #fc0 var(--percent), #B9B9B9 var(--percent));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.container-fluid {
   --bs-gutter-x: var(--gutter-x) !important;
}

.link {
   position: absolute;
   inset: 0;
}

.title {
   font-weight: bold;
   font-size: 24px;
   text-align: center;
   margin-bottom: 1.5rem;
}

.pagination {
   margin: 3rem auto 0;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   width: fit-content;
   box-shadow: 0px 3px 6px #B4B4B41C;
   border: 1px solid #EBEBEB;
   border-radius: 35px;
}

.page-item {
   border-radius: 0 !important;
   -webkit-border-radius: 0 !important;
   -moz-border-radius: 0 !important;
   -ms-border-radius: 0 !important;
   -o-border-radius: 0 !important;
}

.page-link {
   padding: .65rem 1rem;
   border: unset !important;
   color: var(--dark-blue) !important;
}

.nav.nav-pills {
   justify-content: center;
   gap: 1rem;
}

.nav-pills .nav-link.active {
   position: relative;
   color: var(--dark-blue);
   font-weight: 600;
   background-color: transparent;
}

.nav-pills .nav-link.active::before {
   content: "";
   width: 10px;
   height: 10px;
   position: absolute;
   bottom: -3px;
   inset-inline-start: 50%;
   background: var(--dark-blue);
   transform: translate(50%, 50%);
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   -webkit-transform: translate(50%, 50%);
   -moz-transform: translate(50%, 50%);
   -ms-transform: translate(50%, 50%);
   -o-transform: translate(50%, 50%);
}

.nav-pills .nav-link {
   background: 0 0;
   border: 0;
   font-size: 18px;
   color: #4E4E4E;
   border-radius: 0;
   border-bottom: 3px solid transparent;
}

.main-btn,
.main-outline-btn {
   background: var(--linear);
   color: var(--white) !important;
   padding: 10px 48px;
   display: inline-block;
   text-align: center;
   border-radius: 35px;
   min-width: 172px;
}

.main-outline-btn {
   background: #fff;
   padding-block: 9px;
   border: 1px solid var(--dark-blue);
   color: var(--dark-blue) !important;
}

.white-btn {
   font-size: 18px;
   color: var(--sky-blue);
   background-color: #fff;
   padding: 8.5px 40px;
   border-radius: 40px;
   transition: all 0.3s;
}

.accordion-button::after {
   margin-inline-end: unset;
   margin-inline-start: auto;
}

.accordion-button {
   color: #000 !important;
   font-weight: bold;
}

.modal {
   background: #1c608dd1;
}

.modal-header .btn-close {
   margin: unset !important;
   margin-inline-start: auto !important;
}

.modal-content {
   border: unset;
   border-radius: 30px;
}

/* ------------- navbar ------------ */
nav.navbar {
   padding: 0;
   width: 100%;
   z-index: 999;
   position: fixed;
   background: var(--white);
   box-shadow: 0px 6px 6px #00000029;
}

.navbar-nav {
   justify-content: space-evenly;
   margin: 0 auto;
   gap: 1rem;
}


.navbar-light .navbar-brand img {
   width: 140px;
   object-fit: contain;
   overflow: initial;
   margin: .5rem 0;
}

.navbar a.nav-link {
   color: #000 !important;
   /* font-weight: li; */
}

.navbar .nav-link.active {
   font-weight: bold;
   color: var(--dark-blue) !important;
}

#check_report_nav.fixed {
   position: fixed;
   background: #fff;
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
   margin: 1rem 0;
   box-shadow: 0px 1px 4px 0px #0000002e;
}

.auth {
   color: var(--white);
   display: flex;
   align-items: center;
   justify-content: center;
   width: 42px;
   height: 42px;
   background: var(--linear);
   border-radius: 50%;
}

.navbar .auth a.nav-link {
   color: var(--white) !important;
   font-size: 18px;
}

.auth.light {
   background: var(--white);
   box-shadow: 0px 3px 6px #00000029;
   border: 1px solid #BAD4E8;
}

.navbar .auth.light a.nav-link {
   color: var(--dark-blue) !important;
}



/* breadcrumb */
.breadcrumb-wrapper {
   position: relative;
   background: var(--linear);
   color: #fff !important;
   --bs-breadcrumb-divider: '>>';
   margin-bottom: 4rem;
}


.breadcrumb {
   position: relative;
   justify-content: center;
   margin: 0;
   padding: 3rem 0;
   font-size: 1.1rem;
}

.breadcrumb-item+.breadcrumb-item::before {
   float: inline-start;
   padding-inline: .5rem;
   font-weight: lighter;
}

.breadcrumb .breadcrumb-item a {
   color: #fff;
   font-weight: 300;
}

.breadcrumb .breadcrumb-item.active {
   color: #fff;
   font-weight: bold;
}

.breadcrumb-item+.breadcrumb-item::before {
   color: #fff;
}


/* --------------- header --------------------- */

/* section {
   margin-top: 100px;
} */

header {
   position: relative;
   height: 90vh;
   background-size: cover !important;
   background-repeat: no-repeat !important;
   background-position: center center !important;
}

header .content {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

header .content h1 {
   font-size: 28px;
   color: #fff;
   margin-bottom: 1rem;
   font-weight: 700;
}

header .content p {
   color: #FFFFFF;
   font-size: 18px;
   margin: 2rem 0;
}

header .content .btn-group {
   display: flex;
   align-items: center;
   gap: 24px;
}

header .content a {
   /* margin: 1rem; */
   font-weight: 700;
   text-align: center;
   width: 190px;
   display: inline-block;
   border: 2px solid #fff;
}


.cars .card,
.blogs .card {
   box-shadow: 0px 0px 10px #00000012;
   border-radius: 26px;
   border: unset;
   overflow: hidden;
   -webkit-border-radius: 26px;
   -moz-border-radius: 26px;
   -ms-border-radius: 26px;
   -o-border-radius: 26px;
}

.cars .card-img-top img,
.blogs .card-img-top img {
   aspect-ratio: 3 / 2;
   object-fit: cover;
}

.cars .card-title {
   font-size: 17px;
   font-weight: bold;
   margin-bottom: 1.2rem;
}

.cars .price,
.blogs .blog-title {
   color: var(--dark-blue);
   font-weight: bold;
}

.car_offers {
   background: #FCFCFC
}

.car_offers .owl-stage,
.ads-section .owl-stage,
.car_brand .owl-stage {
   padding-inline-start: 0 !important;
}

.car_brand .card {
   text-align: center;
   border: unset;
}

.car_brand .card .card-img-top {
   border: 1px solid #ddd;
   overflow: hidden;
   aspect-ratio: 3/2;
   padding: 1rem 2rem;
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
}

.car_brand .card .card-img-top img {
   height: 100%;
   object-fit: contain;
}

.car_brand .card .card-title {
   font-size: 18px;
   font-weight: 400;
}


/* ------------------- services ----------------------- */



.services .service {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 3rem 1.5rem;
   background: #FCFCFC;
   border: 1px solid #DCDCDC;
   border-radius: 10px;
   margin-bottom: 1rem;
   transition: all 0.3s;
}

.services .service:hover {
   transform: translateY(-10px);
   box-shadow: -10px 10px 20px #0000000c;
}

.service .icon {
   width: 110px;
   height: 110px;
   padding: 1.5rem;
   background: var(--linear);
   border: 2px solid #3192D9;
   border-radius: 50%;
   margin-bottom: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.services .service h5 {
   color: #4C5264;
   font-weight: 700;
   font-size: 17px;
}




/* ------------------------ about us ----------------- */


.about-us h2 {
   font-size: 26px;
   font-weight: 700;
   margin-bottom: 1.5rem;
}

.about-us h2>span {
   color: var(--dark-sky-blue);
}

.about-us p {
   color: #000;
   font-weight: 400;
   margin-bottom: 1.5rem;
}

.about-us ul>li {
   padding: 0.5rem 4rem 0.5rem 0;
   position: relative;
}

.about-us ul>li::before {
   content: '';
   position: absolute;
   height: 100%;
   width: 0px;
   top: 50%;
   right: 1.5rem;
   border-left: 2px dotted #FFCC00;
   transform: translateX(50%);
}

.about-us ul>li::after {
   content: '';
   position: absolute;
   top: 50%;
   right: 0;
   width: 3rem;
   height: 3rem;
   background-color: #fff;
   border: 1px solid #FFCC00;
   border-radius: 50px 50px 0;
   transform: rotateZ(45deg) translate(-50%, -50%);
}

.about-us ul>li:last-child::before {
   content: none;
}

.about-us ul>li>h6 {
   font-size: 20px;
   margin-bottom: 0.5rem;
}

.about-us ul>li p {
   font-size: 17px;
   color: #575757;
}

.about-us ul>li span {
   position: absolute;
   right: 1.2rem;
   top: 50%;
   font-size: 20px;
   color: #FFCC00;
   z-index: 3;
   transform: translateY(-80%);
}

.about-us .img-bg {
   background: #fcfcfc;
   border-radius: 15px;
   overflow: hidden;
}



/* section 2 */
.about-us {
   /* background-color: #fcfcfc;
    */
   position: relative;
   /* padding: 70px 0; */
}

.about-us .ab-img:before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-position: center;
   background-size: cover;
   background-image: url(../images/about-shape.svg);
   transform: none;
   z-index: -1;
}

.about-us .ab-img {
   position: relative;
   text-align: center;
}

.about-us .ab-img img {
   aspect-ratio: 9/ 8;
   object-fit: contain;
}

.ab-data-title {
   color: var(--dark-blue);
   font-weight: bold;
}

.about-us .ab-data p {
   color: #929292;
   margin: 30px 0;
}

.apps-btns {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.apps-btns a {
   background-color: #fff;
   border-radius: 50px;
   box-shadow: 0px 0px 15px #00000029;
   display: inline-flex;
   align-items: center;
   padding: 7px 34px;
   text-align: start;
   transition: all .3s;
}

.apps-btns a.main-btn * {
   color: #fff !important;
}


.apps-btns img {
   object-fit: scale-down;
   width: 24px;
   margin-left: 15px;
   transition: all .3s;
}

.apps-btns span {
   color: var(--dark-blue);
   font-weight: 400;
   font-size: 11px;
   margin-bottom: 3px;
   display: block;
}

.apps-btns h5 {
   color: var(--dark-blue);
   font-size: 14px;
   font-weight: bold;
}

/* ------------------------- */


.section-title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 3rem;
}

.section-title h6 {
   font-size: 22px;
   font-weight: 700;
   color: var(--dark-sky-blue);
   display: flex;
   align-items: center;
}

.section-title h6>span {
   font-size: 20px;
   color: gray;
   font-weight: 500;
   margin-right: 10px;
}

.section-title a {
   font-size: 17px;
   font-weight: 700;
   color: #FFCC00;
}

/*  */
.workshop {
   background: #fff;
   border-radius: 10px;
   overflow: hidden;
   box-shadow: -10px 10px 20px #bcbcbc19;
   position: relative;
   transition: all 0.3s;
}

.workshop:hover {
   transform: translateY(-10px);
   box-shadow: -10px 10px 20px #0000000c;
}

.workshop img {
   aspect-ratio: 14 / 7;
   object-fit: cover;
}

.workshop .details {
   padding: 2rem 1rem;
   text-align: center;
}

.workshop .M_details {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: .5rem;
   margin-bottom: 1rem;

}

.workshop .details h6 {
   font-size: 18px;
   color: var(--dark-sky-blue);
   font-weight: 700;
   margin-bottom: 0 !important;
}

/* ==== ==== switch ==== ====*/
.switch {
   position: relative;
   display: inline-block;
   width: 65px;
   height: 25px;
}

.switch input {
   display: none;
}

.switch .slider {
   position: absolute;
   cursor: pointer;
   inset: 0;
   background-color: #FCFCFC;
   -webkit-transition: .4s;
   transition: .4s;
}

.switch .slider:before {
   position: absolute;
   content: "";
   height: 25px;
   width: 25px;
   left: 0px;
   bottom: 0px;
   background: #FF5A5A;
   box-shadow: inset 0px 3px 6px #00000059;
   -webkit-transition: .4s;
   transition: .4s;
}

.switch input:checked+.slider:before {
   background-color: #2ab934;
}

.switch input:checked+.slider:before {
   -webkit-transform: translateX(40px);
   -ms-transform: translateX(40px);
   transform: translateX(40px);
}

.switch .on {
   display: none;
}

.switch .on,
.off {
   color: #111;
   position: absolute;
   top: 4px;
   inset-inline-start: 11px;
   font-size: 10px;
   user-select: none;
}

.switch input:checked+.slider .on {
   inset-inline-start: calc(100% - 32px);
   display: block;
}

.switch input:checked+.slider .off {
   display: none;
}

/* Rounded sliders */
.switch .slider.round {
   border-radius: 34px;
}

.switch .slider.round:before {
   border-radius: 50%;
}

/* ==== ==== switch ==== ====*/


.workshop .details span {
   color: #555555;
}

.workshop-details {
   border-radius: 5px;
   padding: 0rem .5rem;
}

.car-details .car_feature,
.workshop-details .workshop_feature {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.25rem 0;
   border-bottom: 1px solid #ECECEC;
}

.car_feature .price {
   font-size: 23px;
   margin-bottom: 12px;
   color: var(--dark-blue);
}

.hint {
   color: #ACACAC;
   text-decoration: underline;
   font-size: small;
   background: transparent;
}

/* .car_contact{
   display: none;
} */
#book_modal img,
#exclamationModal img {
   border-radius: 12px;
   aspect-ratio: 14 / 10;
   object-fit: cover;
}

.heart,
.share {
   display: flex;
   color: #6D6E71;
   align-items: center;
   gap: 6px;
   font-size: 14px;
   background: transparent;
   transition: all 0.3s;
}

.share {
   padding-inline-end: 2rem;
}

.heart.fav {
   color: rgb(222, 70, 70);
}

.workshop-details img.workshop_img,
.workshop-details img.img {
   padding: 8px;
   width: 50px;
   height: 45px;
   /* margin: 0px 10px; */
}

.workshop-details img.workshop_img {
   border-radius: 8px;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   box-shadow: -3px 3px 6px #0000000D;
   border: 1px solid #F8F8F8;
   padding: 6px;
}

.car-details h5,
.workshop-details h5 {
   font-size: 18px;
   font-weight: bold;
   letter-spacing: 0px;
   color: #555555;
}

.car_feature .c_badge {
   background: #1c608d11 0% 0% no-repeat padding-box;
   border-radius: 25px;
   padding: 4px 15px;
   border-radius: 8px;
   position: relative;
   padding-inline-end: 8px;
   color: var(--dark-blue);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
}

.search-filter .form-select {
   padding: 0.75rem 2.25rem 0.75rem 0.75rem;
   -moz-padding-start: calc(0.75rem - 3px);
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   background-color: #fcfcfc;
   background-position: left 0.75rem center;
   background-size: 16px 12px;
   border: none;
   border-radius: 0.25rem;
   transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.search-filter .form-select:focus {
   border: 0.5px solid #2777B2;
   box-shadow: none;
}

#map {
   margin-top: 1.5rem;
   overflow: hidden;
   border-radius: 12px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   -ms-border-radius: 12px;
   -o-border-radius: 12px;
}

#map iframe {
   /* padding: 0 1rem; */
   width: 100%;
   height: 350px;
}

.nav {
   width: fit-content;
   margin: auto;
}

.nav-tabs {
   border: none;
}

.nav-tabs .nav-link {
   letter-spacing: 0;
   font-weight: bold;
   font-size: 19px;
   margin: 0 1rem;
   color: #A2A2A2;
   border: none;
   padding-bottom: 1rem;
}

.nav-tabs .nav-link.active {
   color: #1C608D;
   border-bottom: 4px solid #1C608D !important;
}

.nav-tabs .nav-link:hover {
   border: none;
   isolation: isolate;
}



/* TO MAKE ASIDE STICKY */
.car-single .car-wrapper {
   display: flex;
   align-items: flex-start;
   gap: 20px;
}

.car-details {
   /* background-color: #fcfcfc;
   border-radius: 5px; */
   padding: 0rem 1rem;
   position: relative;
   z-index: 9;
}

.car-wrapper main {
   float: left;
}

.car-wrapper aside {
   float: right;
}

.sticky-wrapper {
   position: relative;
}

.sticky.stuck {
   position: fixed;
   top: 100px;
}

/* .sticky {
   position: absolute;
   top: 0%;
   right: 0;
} */
.bottom {
   transform: translateY(-100%);
   -webkit-transform: translateY(-100%);
   -moz-transform: translateY(-100%);
   -ms-transform: translateY(-100%);
   -o-transform: translateY(-100%);
}

.car_info_title {
   color: var(--dark-blue);
   font-weight: bold;
   text-align: center;
}

.car_info_title+p {
   border-bottom: 1px solid #ddd;
   padding: 1rem 0;
   color: #5a5a5a;
}

.check_report_wrapp {
   padding-top: 87px;
}

.check_report {
   background: #FAFBFB;
   border-radius: 10px;
   padding: 2rem 1.75rem;
}

.check_report ul {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 18px;
   margin-top: 1.5rem;
   position: relative;
}

.check_report ul li:not(:nth-last-child(-n + 2)) {
   border-bottom: 1px solid #ddd !important;
}

.check_report ul li {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

#scrollspyHeading2 .check_report ul li {
   padding-inline-end: 1.5rem;
}

#scrollspyHeading2 .check_report ul li::after {
   position: absolute;
   inset-inline-end: 0;
   font-family: "Font Awesome 5 Free" !important;
   font-weight: 900;
   content: '\f053';
   top: 50%;
   transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -o-transform: translateY(-50%);
}
.check_report_info{
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-top: 1px solid #ddd;
   padding-top: 1rem;
   color: #5a5a5a;
}

.check_report ul li img {
   width: 22px;
}

.bg-body-tertiary .nav-pills .nav-link {
   padding: 1.25rem 0;
   font-size: 15px;
}

.exclamation {
   background: transparent;
   display: flex;
   align-items: center;
   gap: 7px;
}

.exclamation span {
   color: #6d7a8d;
   font-size: 11px;
   line-height: 16px;
   text-decoration: underline;
}

.topHeading {
   background: #1c608d47;
   border-radius: 6px;
   padding: 2rem;
   /* margin-bottom: 1rem; */
   color: var(--dark-blue);
   font-weight: bold;
   text-align: center;

}

.multiply .car_info_title {
   text-align: start;
   margin-top: 1.5rem;
}

/* .car-info .accordion-body li {
   color: #4E4E4E;
   font-size: 15px;
   padding: .75rem 0;
} */
.social-share {
   display: flex;
   margin: 2rem 0;
   justify-content: center;
}

.social-share a {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0 calc(68px / 2);
}

.social-share>a>span {
   margin-top: 8px;
   color: #484848;
   text-align: center;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
}

.copy-text {
   position: relative;
   padding: 6px;
   background: #fff;
   border: 1px solid #ddd;
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
}

.copy-text input.text {
   padding: 10px;
   font-size: 18px;
   color: #555;
   border: none;
   outline: none;
}

.copy-text button {
   padding: 10px 15px;
   background: var(--linear);
   color: #fff;
   font-size: 18px;
   border: none;
   outline: none;
   border-radius: 10px;
   cursor: pointer;
}

.copy-text button:active {
   background: var(--linear);
}

.copy-text button:before {
   content: "Copied";
   position: absolute;
   top: -38px;
   inset-inline-end: 0px;
   background: var(--linear);
   padding: 6px 14px;
   border-radius: 20px;
   font-size: 14px;
   z-index: 2;
   display: none;
}

.copy-text button:after {
   content: "";
   position: absolute;
   top: -12px;
   inset-inline-end: 28px;
   width: 10px;
   height: 10px;
   background: var(--linear);
   transform: rotate(45deg);
   display: none;
   z-index: 1;
}

.copy-text.active button:before,
.copy-text.active button:after {
   display: block;
}



/* ------------------  check_book ---------------------- */

.check_book {
   background: #FAFAFA;
   padding: 2.4rem 2.6rem;
   border-radius: 10px;
}

.check_wrapper {
   padding: 4rem 4rem 0 0;
   border-radius: 10px;
   background: url('../images/check-bg.png');
}

.check_book .check_title {
   font-size: 24px;
   color: #fff;
   font-weight: 600;
   margin-bottom: 0.8rem;
}

.check_book p {
   font-size: 16px;
   color: #fff;
   margin-bottom: 2rem;
}

.check_book a {
   font-size: 16px;
   font-weight: 700;
   transition: all 0.3s;
}

.check_book .check_img {
   margin-bottom: -18px;
   margin-inline-start: 26px;
}



/* ---------------------- workshop offer ------------------- */


/* .workshop-offer {
   position: relative;
   overflow: hidden;
   border-radius: 10px;
   transition: all 0.3s;
}

.workshop-offer:hover {
   transform: translateY(-10px);
   box-shadow: -10px 10px 20px #0000001b;
}

.workshop-offer>img {
   min-height: 15rem;
   max-height: 15rem;
}

.workshop-offer span {
   position: absolute;
   font-size: 11px;
   font-weight: 600;
   color: #fff;
   background: var(--dark-sky-blue);
   width: 140px;
   height: 90px;
   border-radius: 0 0 50% 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   transform: rotate(315deg);
   padding-top: 35px;
   top: -20px;
   left: -45px;
   z-index: 5;
}

.workshop-offer .details {
   position: absolute;
   top: 0px;
   right: 0;
   width: 100%;
   height: 100%;
   background: rgb(0 0 0 / 40%);
   padding: 1.5rem 1rem;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
}

.workshop-offer .details .img-bg {
   width: 20px;
   margin-left: 5px;
}

.workshop-offer .details p {
   font-size: 10px;
   color: #fff;
}

.workshop-offer .details h6 {
   font-size: 14px;
   color: #fff;
   font-weight: 700;
}

.workshop-offer .details a {
   font-size: 13px;
   padding: 5px 25px;
   font-weight: 700;
   position: static;
   z-index: 7;
} */



/* ---------------------- ads ----------------------- */


.ads-section {
   margin-bottom: 20px;
}

.ads-section .section-title {
   margin-bottom: 0;
}

/* .ads-section .owl-carousel .owl-stage-outer {
   overflow: visible;
} */

.ads-section .owl-stage {
   padding: 1rem 0 3rem;
}

.ad {
   position: relative;
   box-shadow: -10px 10px 20px #0000000D;
   border-radius: 10px;
   overflow: hidden;
   transition: all 0.3s;
}

.ad:hover {
   transform: translateY(-10px);
   box-shadow: -10px 10px 20px #0000001f;
}

.ad-img {
   position: relative;
}

.ad .ad-img span {
   position: absolute;
   bottom: 20px;
   font-size: 14px;
   color: #fff;
   font-weight: 700;
   padding: 3px 10px;
   border-radius: 5px 0 0 5px;
   background: #FFCC00;
}

.ad .ad-img img {
   aspect-ratio: 9 / 6;
   object-fit: cover;
}

.ad .details {
   text-align: center;
   background: #fff;
   padding: 1.8rem 1rem;
}

.ad .details p {
   font-size: 22px;
   font-weight: 600;
   color: #1C608D;
   margin-bottom: 1rem;
}

.ad .details h6 {
   font-size: 18px;
   font-weight: 700;
   margin-bottom: 1rem;
}

.ad .details span {
   font-size: 15px;
   color: #7C7C7C;
}

/* --------------------- footer --------------------- */



footer .footer-content {
   background: #FCFCFC;
   border-radius: 30px;
   padding: 4rem 2rem;
   margin-bottom: 1rem;
   position: relative;
}

footer .footer-content #scroll-top {
   position: absolute;
   top: 0;
   inset-inline-start: calc(50% - 28px);
   background: #fff;
   padding: 8px;
   border-radius: 50%;
   animation: floating 1s ease-out infinite alternate;
   transition: all 0.3s;
}

footer .footer-content #scroll-top i {
   background-color: #FCFCFC;
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 16px;
   border-radius: 50%;
   box-shadow: 0px -10px 25px #B2B2B22B;
   color: var(--dark-sky-blue);
}

@keyframes floating {
   0% {
      transform: translateY(-20px);
   }

   100% {
      transform: translateY(-30px);
   }
}

footer .footer-content #scroll-top i:hover {
   color: #fff;
   background-color: var(--dark-sky-blue);
   /* transform: translate(50%, -60%); */
}

footer .footer-content .links {
   padding: 0 2rem;
   border-bottom: 1px solid var(--light);
   margin-bottom: 3rem;
}

footer .links .logo {
   width: 170px;
   margin-bottom: 1rem;
}

footer .footer-content .links p {
   font-size: 17px;
   color: #4D4D4D;
   line-height: 35px;
   padding-left: 6.5rem;
   margin-bottom: 1.5rem;
}

footer .footer-content .links .links_title {
   position: relative;
   padding: 0rem 1rem;
   font-size: 20px;
   color: #FFCC00;
   margin-bottom: 2rem;
}

footer .footer-content .links .links_title::before {
   content: "";
   width: 4px;
   height: 100%;
   position: absolute;
   top: 0;
   right: 0;
   background: #FFCC00;
   border-radius: 5px;
}

footer .footer-content .links ul {
   padding-right: 1rem;
}

footer .footer-content .links ul li {
   margin-bottom: 0.9rem;
}

footer .footer-content .links ul li a {
   color: #6B6B6B;
   /* font-size: 17px; */
   display: flex;
   align-items: center;
   transition: all 0.3s;
   position: relative;
}

footer .footer-content .links ul li a:hover {
   color: #FFCC00;
   transform: translateX(10px);
}

footer .footer-content .links li a::before {
   content: '';
   width: 12px;
   height: 12px;
   background: var(--dark-sky-blue);
   border-radius: 50% 50% 50% 0;
   margin-left: 10px;
   transform: rotate(315deg);
   transition: all 0.3s;
}

footer .footer-content .links ul li a:hover::before {
   background-color: #FFCC00;
}

footer .send-email {
   margin: 0 2rem;
   padding: 3rem 3.5rem;
   background: #2777B2;
   border-radius: 10px;
}

footer .send-email p {
   color: #fff;
   font-size: 18px;
   display: flex;
   align-items: center;
}

footer .send-email p>i {
   font-size: 20px;
   margin-left: 10px;
}

footer .send-email-box {
   margin: auto;
   height: 45px;
   border: 1px solid #D6D6D6;
   border-radius: 5px;
   position: relative;
}

footer .send-email-box input {
   width: 100%;
   height: 100%;
   padding: 10px 15px 10px 100px;
   font-size: 16px;
   border-radius: 5px;
   background: transparent;
   color: #fff;
}

footer .send-email-box input::placeholder {
   color: #BFBFBF;
}

footer .send-email-box button {
   position: absolute;
   left: -1px;
   top: -1px;
   background: #fff;
   color: var(--dark-sky-blue);
   padding: 1px 30px;
   height: 45px;
   font-size: 14px;
   border-radius: 5px 0 0 5px;
   transition: all 0.3s;
}

footer .send-email-box button:hover {
   color: #fff;
   background-color: #FFCC00;
}

footer .copyrights {
   position: relative;
   padding: 1rem 0;
}

footer .copyrights>div {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

footer .copyrights h6 {
   font-size: 16px;
   font-weight: 600;
}

footer .copyrights img {
   width: 150px;
}


/*==-------- check page --------==*/
.check_step {
   background: #F7F6FC;
   border-radius: 22px;
   padding: 2.5rem 1rem;
   text-align: center;
   -webkit-border-radius: 22px;
   -moz-border-radius: 22px;
   -ms-border-radius: 22px;
   -o-border-radius: 22px;
   height: 100%;
}

.check_stepImg {
   width: 21%;
}

.check_stepTitle {
   color: var(--dark-blue);
   margin: 1rem 0;
}

.check_stepDesc {
   font-size: 14px;
   color: #4E4E4E;
}

/*==-------- services page --------==*/
.servs-nav {
   position: relative;
   width: 100%;
}

.servs-nav::before {
   content: '';
   position: absolute;
   top: 50%;
   inset-inline-start: 0;
   display: block;
   width: 6px;
   height: 50%;
   transform: translateY(-50%);
   background: #1C608D 0% 0% no-repeat padding-box;
   border-radius: 8px 0px 0px 8px;
}

.servs-nav .nav-link .service {
   display: flex;
}

.servs-nav .nav-link {
   background: transparent;
   color: #4C5264;
   padding: .5rem 1.5rem;
   font-weight: bold;
   display: block;
   width: 100%;
}

.servs-nav .nav-link.active {
   color: var(--dark-blue);
   background: #FFFFFF 0% 0% no-repeat padding-box;
   box-shadow: -10px 10px 30px #7E7E7E0D;
   border-radius: 10px;
}

.serv-item {
   display: flex;
   align-items: center;
   gap: 14px;
}

.servs-nav .icon {
   width: 75px;
   height: 75px;
   padding: .85rem;
   background: var(--linear);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 8px solid transparent;
   box-shadow: 0 0 0 1px #f8f8f8;
}

.serv-details {
   background: #FFFFFF 0% 0% no-repeat padding-box;
   box-shadow: -10px 10px 30px #0000000D;
   border-radius: 12px;
   overflow: hidden;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   -ms-border-radius: 12px;
   -o-border-radius: 12px;
}

.serv-details .serv-title,
.serv-details .serv-desc {
   padding: 1.5rem;
}

.serv-details .serv-title {
   background: #FCFCFC;
   font-size: 16px;
   font-weight: bold;
}

.serv-details .serv-desc {
   color: #4D4D4D;
}

.serv-price {
   color: var(--dark-blue);
   font-weight: bold;
   font-size: 18px;
}

/*==-------- cars page --------==*/
.car_filter {
   padding-inline-end: var(--gutter-x);
}

.filter {
   border-radius: 24px 0 0 24px;
   -webkit-border-radius: 24px 0 0 24px;
   -moz-border-radius: 24px 0 0 24px;
   -ms-border-radius: 24px 0 0 24px;
   -o-border-radius: 24px 0 0 24px;
   border: 2px solid #f1f1f1;
   padding: 2rem 1.5rem;
}

.selected-filters-title,
#selected-filters-list {
   color: var(--dark-blue);
   border-bottom: 1px solid #f1f1f1;
}

.filter .accordion-item,
.filter .accordion-button,
.filter .accordion-body {
   padding-inline: 0 !important;
   background: transparent !important;
   outline: unset !important;
   box-shadow: unset !important;
   padding: .5rem 0;
}

.filter .accordion-button {
   padding-block: 0;
}

.filter .form-check label {
   font-size: 15px;
   margin-top: 8px;
}

.middle {
   position: relative;
   width: 100%;
}

.middle .multi-range-slider {
   direction: ltr;
   /* position: relative; */
}

.middle .slider {
   position: relative;
   z-index: 1;
   height: 6px;
   margin: 15px 0;
}

.middle .slider .track {
   position: absolute;
   z-index: 1;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   border-radius: 5px;
   background-color: #e9e9e9;
}

.middle .slider .range {
   position: absolute;
   z-index: 2;
   inset: 0 25%;
   border-radius: 5px;
   background-color: var(--dark-blue);
}

.middle .slider .thumb {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 3;
   width: 18px;
   height: 18px;
   background-color: var(--white);
   border: 6px solid var(--dark-blue);
   box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
   border-radius: 50%;
}

.middle .slider .thumb.left {
   inset-inline-end: 25%;
   transform: translate(-8px, -6px);
   -webkit-transform: translate(-8px, -6px);
   -moz-transform: translate(-8px, -6px);
   -ms-transform: translate(-8px, -6px);
   -o-transform: translate(-8px, -6px);
}

.middle .slider .thumb.right {
   inset-block-start: 25%;
   transform: translate(6px, -8px);
   -webkit-transform: translate(6px, -8px);
   -moz-transform: translate(6px, -8px);
   -ms-transform: translate(6px, -8px);
   -o-transform: translate(6px, -8px);
}

input[type=range] {
   position: absolute;
   pointer-events: none;
   -webkit-appearance: none;
   z-index: 2;
   height: 10px;
   width: 100%;
   opacity: 0;
}

input[type=range]::-webkit-slider-thumb {
   pointer-events: all;
   width: 30px;
   height: 30px;
   border-radius: 0;
   border: 0 none;
   background-color: var(--dark-blue);
   -webkit-appearance: none;
}

.selected-filters-title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
   padding-bottom: .5rem;
}

.selected-filters-title p {
   min-width: max-content;
   font-weight: bolder;
   font-size: 1.2rem;
}

.selected-filters-title button {
   background: transparent;
   color: var(--dark-blue);
   padding: 0 !important;
}

.selected-filters ul {
   padding: 1rem 0 !important;
   list-style: none;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 8px;
}

.selected-filters li {
   display: flex;
   gap: 6px;
   align-items: center;
   background: var(--white);
   background: #1c608d11 0% 0% no-repeat padding-box;
   border-radius: 25px;
   padding: 4px 15px;
   border-radius: 20px;
   position: relative;
   padding-inline-end: 8px;
   color: var(--dark-blue);
}

.remove-filter-btn {
   width: 18px;
   height: 18px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 16px;
   background: transparent;
   color: var(--dark-blue);
   border: none;
   cursor: pointer;
   opacity: .5;
}

.remove-filter-btn:hover {
   opacity: 1;
}

#clear-all-filters {
   min-width: max-content;
   width: auto;
   height: fit-content;
   padding-inline: 14px;
   padding-block: 4px;
   margin-bottom: 0;
}

.filter-header,
.profile-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 0.75rem;
   padding: 1.25rem;
   border-bottom: 1px solid #dddddd;
}

/* .form-check-input:checked[type=checkbox] */
.car_filter .form-check-input {
   width: 1.25em;
   height: 1.25em;
}

.car_filter .form-check-input:checked {
   background-color: var(--dark-blue);
   border-color: var(--dark-blue);
}

#filter {
   position: fixed;
   top: 35vh;
   inset-inline-start: 0;
   color: #fff !important;
   background: var(--linear);
   padding: 0.5rem .75rem;
   border-radius: 8px 0px 0px 8px;
   display: none;
   z-index: 99;
}

/*==-------- blogs page *card style the same with cars* --------==*/
.blogs .card {
   color: #4E4E4E;
   padding-bottom: 1.5rem;
}

.blog-head {
   display: flex;
   align-items: center;
   font-size: smaller;
   gap: 8px;
}

.blog-head span {
   color: #C8C8C8;
}

.blog-title {
   margin: .8rem 0;
   font-size: 19px;
}

.blog-desc {
   font-size: 15px;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

/*==-------- workshop page  --------==*/
.all {
   width: 100%;
   height: auto;
   display: inline-block;
   position: relative;
}

.all .slider {
   /* width: auto; */
   /* height: auto; */
   /* overflow: hidden; */
   border-radius: 3px;
   border-radius: 10px;
   position: relative;
}


.item-box {
   background: #fcfcfc;
   border-radius: 12px;
   overflow: hidden;
   display: flex;
   width: 100%;
   aspect-ratio: 22 / 18;
   position: relative;
   background-size: cover;
}

.car-single .item-box {
   aspect-ratio: 11 / 7;
   border-radius: 18px;
   -webkit-border-radius: 18px;
   -moz-border-radius: 18px;
   -ms-border-radius: 18px;
   -o-border-radius: 18px;
}

.slider-counter {
   position: absolute;
   bottom: 10px;
   padding: 1rem;
   z-index: 9;
   color: var(--white);
   font-weight: bold;
   text-align: center;
   inset-inline-start: 0;
   inset-inline-end: 1px;
   text-shadow: 2px 2px var(--dark-sky-blue);
}

.car-info .accordion-button {
   box-shadow: unset !important;
   background: transparent !important;
   padding: 1.25rem 0rem;
}

.car-info .accordion-button:not(.collapsed) {
   border-bottom: 1px solid #ddd !important;
}

.car-info .accordion-body {
   padding-inline: 0;
}

.car-info .accordion-item:first-child .accordion-body ul {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 18px;
}

.car-info .accordion-item:first-child .accordion-body ul li:not(:nth-last-child(-n + 2)) {
   border-bottom: 1px solid #ddd !important;
}

.stick-next-to li {
   color: #4E4E4E;
   font-size: 15px;
   padding: .75rem 0;
}

.car-info .accordion-item:not(:first-child) .accordion-body li:not(:last-child) {
   border-bottom: 1px solid #ddd;
}

.car-info .accordion-item {
   background-color: #FAFBFB;
   margin-bottom: 10px;
   border: unset !important;
   border-radius: 10px;
   padding: 0rem 1.75rem;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}

.item-box:after {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: absolute;
   content: "";
   display: block;
}

.item-box img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.all .slider-two .item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.single-img .owl-dots {
   display: none;
}

.all .slider-two {
   width: auto;
   height: auto;
   overflow: hidden;
   position: relative;
   right: 0;
   bottom: 0;
   width: 100%;
   padding: 0;
   z-index: 1;
   margin-top: 15px;
}

.all .slider-two .item {
   transition: all ease .25s;
   height: 110px;
   border: solid 2px transparent;
   cursor: pointer;
   overflow: hidden;
   border-radius: 8px;
}

.owl-theme .owl-nav [class*=owl-] {
   position: absolute;
   z-index: 9;
   top: calc(50% - 20px);
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background: #fff !important;
}

.owl-nav .owl-prev {
   inset-inline-start: 1rem;
}

.owl-nav .owl-next {
   inset-inline-end: 1rem;
}

.owl-theme .owl-nav [class*=owl-]:hover {
   color: #000;
}

.all .slider-two .item.active {
   border: solid 1px var(--dark-sky-blue);
}

.all .slider-two .owl-stage {
   padding: 15px 0 30px;
}


/*
.all .offer-badge {
   position: absolute;
   left: 0;
   top: 0;
}

.all .offer-badge span {
   left: 7px;
}

 .all .slider .owl-nav,
.all .slider .owl-dots {
   display: none;
}

.all .slider:hover .left {
   visibility: visible;
   opacity: 1;
   left: 20px;
}

.all .slider:hover .right {
   visibility: visible;
   opacity: 1;
   right: 20px;
} 

.all .slider .left {
   position: absolute;
   z-index: 1;
   top: 167px;
   left: -20px;
   width: 40px;
   height: 40px;
   cursor: pointer;
   visibility: hidden;
   opacity: 0;
   transition: left ease .25s;
   -webkit-transform: rotate(0deg);
   transform: rotate(0deg);
   background: url(http://svgshare.com/i/2V9.svg) top left;
}

.all .slider .left:hover {
   visibility: visible;
   opacity: 1;
   left: 20px;
   background: url(http://svgshare.com/i/2UW.svg) top left;
   -webkit-transform: rotate(180deg);
   transform: rotate(180deg);
}

.all .slider .left.nonl {
   left: -20px;
   opacity: 0;
   visibility: hidden;
}

.all .slider .right {
   cursor: pointer;
   position: absolute;
   z-index: 1;
   top: 167px;
   right: -20px;
   width: 40px;
   height: 40px;
   visibility: hidden;
   opacity: 0;
   transition: right ease .25s;
   background: url(http://svgshare.com/i/2V9.svg) top left;
   -webkit-transform: rotate(180deg);
   transform: rotate(180deg);
} 

.all .slider .right:hover {
   visibility: visible;
   opacity: 1;
   right: 20px;
   background: url(http://svgshare.com/i/2UW.svg) top left;
   -webkit-transform: rotate(0deg);
   transform: rotate(0deg);
}

.all .slider .right.nonr {
   right: -20px;
   opacity: 0;
   visibility: hidden;
} 

.all .slider-two .owl-nav,
.all .slider-two .owl-dots {
   display: none;
}

.all .slider-two:hover .left-t {
   visibility: visible;
   opacity: 1;
   left: 20px;
}

.all .slider-two:hover .right-t {
   visibility: visible;
   opacity: 1;
   right: 20px;
} 

.all .slider-two .left-t {
   cursor: pointer;
   position: absolute;
   z-index: 1;
   top: 38px;
   visibility: hidden;
   opacity: 0;
   transition: all ease .25s;
   width: 35px;
   height: 35px;
   left: -40px;
   background-color: var(--white);
   border-radius: 100%;
   text-align: center;
   line-height: 35px;
   color: #2b2b2b;
   font-size: 16px;
}

.all .slider-two .left-t.nonl-t {
   left: -40px;
   opacity: 0;
   visibility: hidden;
}

.all .slider-two .right-t {
   cursor: pointer;
   position: absolute;
   z-index: 1;
   top: 38px;
   right: -40px;
   visibility: hidden;
   opacity: 0;
   transition: all ease .25s;
   width: 35px;
   height: 35px;
   background-color: var(--white);
   border-radius: 100%;
   text-align: center;
   line-height: 35px;
   color: #2b2b2b;
   font-size: 16px;
} 

.all .slider-two .right-t:hover {
   background-color: var(--white);
}

.all .slider-two .right-t.nonr-t {
   right: -40px;
   opacity: 0;
   visibility: hidden;
} 

.all .slider-two .right-t i,
.all .slider-two .left-t i {
   font-size: 20px;
   text-align: center;
   vertical-align: sub;
}  */


/* --------------------- media ------------------------- */

@media (max-width: 992px) {
   :root {
      --gutter-x: 1.5rem;
   }

   nav.navbar>.container-fluid {
      flex-direction: row-reverse;
   }

   .navbar-toggler {
      padding: 0 !important;
      border: unset !important;
      box-shadow: unset !important;
   }

   [dir=rtl] .container-fluid {
      --gutter-x: 1.5rem;
   }

   header {
      height: 50vh;
   }

   .image {
      display: none;
   }

   .apps-btns a {
      padding: 7px 30px;
   }

   .navbar-nav {
      gap: 0;
   }

   .navbar-nav:nth-child(2) {
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 1rem !important;
      gap: 0.5rem;
   }
   .bg-body-tertiary .nav-pills .nav-link {
      width: max-content;
   }
   #check_report_nav .nav.nav-pills {
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: clip;
      justify-content: unset;
      gap: .75rem;
   }
   #check_report_nav .nav.nav-pills::-webkit-scrollbar {
      display: none;
   }
   #check_report_nav .nav-pills .nav-link.active::before {
      bottom: 8px;
   }
   .check_report ul li:not(:last-child) {
      border-bottom: 1px solid #eeeeee !important;
  }

}

@media (min-width: 992.8px) {
   .sticky {
      position: absolute;
      top: 0%;
      right: 0;
   }
}

@media (max-width: 578px) {
   .breadcrumb-wrapper {
      margin-bottom: 3rem;
   }
   .car-single .car-wrapper {
      flex-wrap: wrap;
   }

   .car_filter {
      padding-inline: var(--gutter-x);
   }

   #filter {
      display: block;
   }

   .filter,
   .profile-nav {
      display: block;
      width: 400px;
      transform: translate(400px);
      max-width: 80%;
      position: fixed;
      margin-top: 0;
      z-index: 999;
      top: 0;
      right: 0;
      height: 100%;
      border-radius: 12px 0 0 12px;
      transition: 0.3s;
      background: white;
      box-shadow: -1px 2px 17px 3px #1c608d24;
      -webkit-border-radius: 12px 0 0 12px;
      -moz-border-radius: 12px 0 0 12px;
      -ms-border-radius: 12px 0 0 12px;
      -o-border-radius: 12px 0 0 12px;
   }

   .filter.filter-toggle,
   .profile-nav.Pnav-toggle {
      transform: translate(0);
   }

   .check_book {
      padding: 0.6rem 0.8rem;
   }

   .check_wrapper {
      padding: 1rem 1rem 0 0;
   }

   .check_book p {
      font-size: 15px;
      padding-inline-end: 1rem;
   }

   .apps-btns a {
      padding: 6px 28px;
      min-width: auto;
   }

   .apps-btns img {
      width: 20px;
      margin-left: 10px;
   }

   .services .service {
      padding: 2rem 1.5rem;
   }

   .service .icon {
      width: 90px;
      height: 90px;
      margin-bottom: 1.4rem;
   }

   footer .footer-content {
      padding: 2.5rem 1rem;
      margin-bottom: 1rem;
   }

   footer .footer-content .links {
      padding: 0px 0rem;
      margin-bottom: 2rem;
   }

   footer .footer-content .links p {
      font-size: 16px;
      padding-left: 0;
   }

   footer .send-email {
      margin: 0rem;
      padding: 1rem 1.5rem;
   }

   footer .send-email p {
      font-size: 16px;
   }
   footer .copyrights {
      font-size: 14px;
   }
  footer .copyrights img {
      width: 135px;
   }

   .check_step {
      padding: 1.5rem .5rem;
   }

   .car_actions {
      position: fixed;
      bottom: 0;
      inset-inline: 0;
      display: flex;
      gap: 10px;
      background: #fff;
      padding: 2rem 1rem;
      border-radius: 20px 20px 0 0;
      box-shadow: 0 0 5px 0 rgb(0 0 0 / 13%);
      -webkit-border-radius: 20px 20px 0 0;
      -moz-border-radius: 20px 20px 0 0;
      -ms-border-radius: 20px 20px 0 0;
      -o-border-radius: 20px 20px 0 0;
   }

   .car_actions .main-btn,
   .car_actions .main-outline-btn {
      padding-inline: 10px;
   }

   .car_contact {
      position: fixed;
      z-index: 999;
      backdrop-filter: blur(5px);
      background-color: rgba(255, 255, 255, .5);
      inset-inline: 0;
      bottom: 0;
      height: 100vh;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: end;
   }

   .car_contact .bg-white {
      padding: 2rem 1rem;
      box-shadow: 0 0 5px 0 rgb(0 0 0 / 13%);
      border-radius: 20px 20px 0 0;
      -webkit-border-radius: 20px 20px 0 0;
      -moz-border-radius: 20px 20px 0 0;
      -ms-border-radius: 20px 20px 0 0;
      -o-border-radius: 20px 20px 0 0;
   }

   .car-wrapper aside,
   .car-wrapper main {
      float: unset;
   }

   .modal {
      z-index: 999;
      backdrop-filter: blur(5px);
      background-color: rgba(255, 255, 255, .5);
   }

   .modal-dialog-centered {
      align-items: end;
      margin: 0;
      height: 100%;
   }

   .modal-content {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: 0 0 5px 0 rgb(0 0 0 / 13%);

   }

   .car-info .accordion-item:first-child .accordion-body ul,
   .check_report ul {
      display: block;
   }

   .check_report_wrapp {
      padding-top: 40px;
   }

   /* .bg-body-tertiary .nav-pills .nav-link {
      width: max-content;
  }
   .nav.nav-pills {
      overflow-x: auto;
      flex-wrap: nowrap;
   } */
}

/* @media (max-width:991.8px) {

   .top-nav {
      display: none;
   }

   .bottom-nav .search-box {
      display: block;
   }

   .search-box button {
      padding: 1px 30px;
   }

   nav .bottom-nav .nav-links {
      display: none;
   }

   nav .bottom-nav .toggle-side-menu {
      display: block;
      line-height: 0;
   }

   .bottom-nav .noti-cart {
      display: flex;
   }

   header {
      min-height: 70vh;
   }

   header img {
      height: 70vh;
   }
}

@media (max-width:768.8px) {
   header {
      min-height: 60vh;
      margin: 130px 0 70px;
   }

   header img {
      height: 60vh;
   }

   section {
      margin-bottom: 80px;
   }

   .top-nav {
      display: block;
   }

   .bottom-nav .search-box {
      display: none;
   }

   nav .logo {
      width: 110px;
   }

   li .has-menu {
      width: 35px;
      height: 35px;
      font-size: 15px;
   }

   .quantity-num {
      position: absolute;
      top: -8px;
      right: -8px;
   }

   nav .bottom-nav .auth>li {
      padding: 15px 0;
   }

   nav .bottom-nav .auth>li>a {
      font-size: 17px;
   }

   nav .bottom-nav .auth>.lang>a {
      font-size: 20px;
      color: #191919;
   }

   .top-nav-user {
      position: relative;
      padding: 0;
   }

   .top-nav-notification {
      position: relative;
      padding: 0;
   }

   .top-nav-notification .sub-menu>a h6>.new {
      font-size: 15px;
   }

   .top-nav-notification .sub-menu {
      min-width: 330px;
      max-width: 330px;
      max-height: 400px;
      transform: translateX(-40%);
   }

   header .content h1 {
      font-size: 22px;
      color: #fff;
      margin-bottom: 1.5rem;
      font-weight: 700;
   }

   header .content p {
      color: #efefef;
      font-size: 14px;
      margin-bottom: 1.5rem;
   }

   header .content a {
      margin: 0.3rem;
      width: 150px;
      padding: 10px
   }

   .blue-btn,
   .white-btn {
      font-size: 13px;
      padding: 10px 30px;
   }

   .services .nav-pills .nav-link {
      padding: 0.6rem 1rem;
      font-size: 16px;
      margin: 0 0.5rem;
   }

   .about-us h2 {
      font-size: 22px;
      margin-bottom: 1rem;
   }

   .about-us p {
      font-size: 14px;
      margin-bottom: 1rem;
   }

   .about-us ul>li {
      padding: 0.5rem 3rem 0.5rem 0;
      position: relative;
   }

   .about-us ul>li::before {
      right: 1rem;
   }

   .about-us ul>li::after {
      width: 2rem;
      height: 2rem;
   }

   .about-us ul>li:last-child::before {
      content: none;
   }

   .about-us ul>li>h6 {
      font-size: 18px;
      margin-bottom: 0.2rem;
   }

   .about-us ul>li p {
      font-size: 13px;
      color: #575757;
   }

   .about-us ul>li span {
      right: 1rem;
      font-size: 15px;
      transform: translate(50%, -80%);
   }

   .section-title h6 {
      font-size: 14px;
   }

   .section-title h6>span {
      font-size: 13px;
   }

   .section-title a {
      font-size: 13px;
   }

   .workshop .details {
      padding: 1rem 1rem;
   }

   .workshop .details h6 {
      font-size: 12px;
      margin-bottom: 0.5rem
   }

   .workshop .details span {
      font-size: 11px;
   }

   .check_book a {
      font-size: 12px;
      padding: 7px 30px;
   }

   .check_book {
      background: var(--dark-sky-blue);
      padding: 2rem 2rem 0 0;
   }

   .check_book h5 {
      font-size: 20px;
   }

   .check_book p {
      font-size: 14px;
      padding-left: 2rem;
   }

   footer .footer-content {
      background: #fff;
      border-radius: 20px;
      padding: 2rem 1.5rem 3rem;
   }

   footer .footer-content .links {
      padding: 2rem 0rem;
   }

   footer .footer-content .links ul>li>a {
      color: var(--dark-sky-blue);
      font-size: 14px;
   }

   footer .footer-content .links h5 {
      font-size: 17px;
      margin-bottom: 1.5rem;
   }

   footer .send-email p {
      color: #fff;
      font-size: 14px;
   }

   footer .footer-content .links h5::before {
      content: "";
      width: 3px;
   }

   footer .footer-content .links p {
      font-size: 14px;
      color: #4D4D4D;
      line-height: 30px;
      padding-left: 0%;
   }

   footer .links .logo {
      width: 150px;
      margin-bottom: 1rem;
   }

   footer .copyrights h6 {
      font-size: 12px;
      font-weight: 600;
   }

   footer .copyrights img {
      width: 100px;
   }
}

@media (max-width:576px) {
   .check_book {
      background: var(--dark-sky-blue);
      padding: 2rem 1rem 0 0;
      border-radius: 0;
   }

   .check_book p {
      padding-left: 1rem;
   }
} */